<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <include
        layout="@layout/Toolbar" />
    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <ImageView
            android:id="@+id/calibrateImage"
            android:layout_width="wrap_content"
            android:layout_marginTop="0dp"
            android:layout_height="420dp"
            android:src="@drawable/calibrateSensor" />
        <Button
            android:id="@+id/sensor_calibration_start_btn"
            android:layout_width="300dp"
            android:layout_below="@id/calibrateImage"
            android:layout_marginTop="20dp"
            android:layout_height="50dp"
            android:layout_centerHorizontal="true"
            android:text="Start Calibration" />
        <Button
            android:id="@+id/sensor_calibration_bluetooth_settings_btn"
            android:layout_below="@id/sensor_calibration_start_btn"
            android:layout_width="300dp"
            android:layout_height="50dp"
            android:layout_centerHorizontal="true"
            android:layout_marginTop="20dp"
            android:text="Pair Bluetooth" />
        <Button
            android:id="@+id/sensor_calibration_finish_btn"
            android:layout_width="200dp"
            android:layout_height="50dp"
            android:layout_alignParentBottom="true"
            android:layout_centerHorizontal="true"
            android:layout_marginBottom="40dp"
            android:text="@string/Next" />
    </RelativeLayout>
</LinearLayout>